Pantry.Client/Service References/PantryServices/PantryService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Pantry.Data.DTOs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Pantry.Data.DTOs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AvailableIngredient">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountId" type="xs:int" />
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="HasUniqueBaseAmountType" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IngredientId" type="xs:int" />
      <xs:element minOccurs="0" name="IsDry" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AvailableIngredient" nillable="true" type="tns:AvailableIngredient" />
</xs:schema>