Pantry.Client/Service References/PantryServices/PantryService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50823/PantryService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Pantry.Data.Models" />
  <xs:import schemaLocation="http://localhost:50823/PantryService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Pantry.Data.DTOs" />
  <xs:element name="GetRecipes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecipesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Pantry.Data.Models" minOccurs="0" name="GetRecipesResult" nillable="true" type="q1:ArrayOfRecipe" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccounts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Pantry.Data.Models" minOccurs="0" name="GetAccountsResult" nillable="true" type="q2:ArrayOfAccount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddIngredientToPantry">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Pantry.Data.DTOs" minOccurs="0" name="accountIngredient" nillable="true" type="q3:AvailableIngredient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddIngredientToPantryResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>