Pantry.Client/Service References/PantryServices/PantryService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PantryService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50823/PantryService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50823/PantryService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50823/PantryService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Pantry.Data.Models" />
      <xsd:import schemaLocation="http://localhost:50823/PantryService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Pantry.Data.DTOs" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPantryService_GetRecipes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRecipes" />
  </wsdl:message>
  <wsdl:message name="IPantryService_GetRecipes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRecipesResponse" />
  </wsdl:message>
  <wsdl:message name="IPantryService_GetAccounts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAccounts" />
  </wsdl:message>
  <wsdl:message name="IPantryService_GetAccounts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAccountsResponse" />
  </wsdl:message>
  <wsdl:message name="IPantryService_AddIngredientToPantry_InputMessage">
    <wsdl:part name="parameters" element="tns:AddIngredientToPantry" />
  </wsdl:message>
  <wsdl:message name="IPantryService_AddIngredientToPantry_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddIngredientToPantryResponse" />
  </wsdl:message>
  <wsdl:portType name="IPantryService">
    <wsdl:operation name="GetRecipes">
      <wsdl:input wsaw:Action="http://tempuri.org/IPantryService/GetRecipes" message="tns:IPantryService_GetRecipes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPantryService/GetRecipesResponse" message="tns:IPantryService_GetRecipes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAccounts">
      <wsdl:input wsaw:Action="http://tempuri.org/IPantryService/GetAccounts" message="tns:IPantryService_GetAccounts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPantryService/GetAccountsResponse" message="tns:IPantryService_GetAccounts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddIngredientToPantry">
      <wsdl:input wsaw:Action="http://tempuri.org/IPantryService/AddIngredientToPantry" message="tns:IPantryService_AddIngredientToPantry_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPantryService/AddIngredientToPantryResponse" message="tns:IPantryService_AddIngredientToPantry_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPantryService" type="tns:IPantryService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRecipes">
      <soap:operation soapAction="http://tempuri.org/IPantryService/GetRecipes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccounts">
      <soap:operation soapAction="http://tempuri.org/IPantryService/GetAccounts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddIngredientToPantry">
      <soap:operation soapAction="http://tempuri.org/IPantryService/AddIngredientToPantry" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PantryService">
    <wsdl:port name="BasicHttpBinding_IPantryService" binding="tns:BasicHttpBinding_IPantryService">
      <soap:address location="http://localhost:50823/PantryService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>