Pantry.Client/Service References/PantryServices/PantryService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Pantry.Data.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Pantry.Data.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfRecipe">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Recipe" nillable="true" type="tns:Recipe" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRecipe" nillable="true" type="tns:ArrayOfRecipe" />
  <xs:complexType name="Recipe">
    <xs:sequence>
      <xs:element minOccurs="0" name="Account" nillable="true" type="tns:Account" />
      <xs:element minOccurs="0" name="AccountId" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RecipeIngredients" nillable="true" type="tns:ArrayOfRecipeIngredient" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Recipe" nillable="true" type="tns:Recipe" />
  <xs:complexType name="Account">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountIngredients" nillable="true" type="tns:ArrayOfAccountIngredient" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Recipes" nillable="true" type="tns:ArrayOfRecipe" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Account" nillable="true" type="tns:Account" />
  <xs:complexType name="ArrayOfAccountIngredient">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AccountIngredient" nillable="true" type="tns:AccountIngredient" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAccountIngredient" nillable="true" type="tns:ArrayOfAccountIngredient" />
  <xs:complexType name="AccountIngredient">
    <xs:sequence>
      <xs:element minOccurs="0" name="Account" nillable="true" type="tns:Account" />
      <xs:element minOccurs="0" name="AccountId" type="xs:int" />
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Ingredient" nillable="true" type="tns:Ingredient" />
      <xs:element minOccurs="0" name="IngredientId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccountIngredient" nillable="true" type="tns:AccountIngredient" />
  <xs:complexType name="Ingredient">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountIngredients" nillable="true" type="tns:ArrayOfAccountIngredient" />
      <xs:element minOccurs="0" name="HasUniqueBaseAmountType" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IsDry" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RecipeIngredients" nillable="true" type="tns:ArrayOfRecipeIngredient" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Ingredient" nillable="true" type="tns:Ingredient" />
  <xs:complexType name="ArrayOfRecipeIngredient">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RecipeIngredient" nillable="true" type="tns:RecipeIngredient" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRecipeIngredient" nillable="true" type="tns:ArrayOfRecipeIngredient" />
  <xs:complexType name="RecipeIngredient">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Ingredient" nillable="true" type="tns:Ingredient" />
      <xs:element minOccurs="0" name="IngredientId" type="xs:int" />
      <xs:element minOccurs="0" name="Recipe" nillable="true" type="tns:Recipe" />
      <xs:element minOccurs="0" name="RecipeId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RecipeIngredient" nillable="true" type="tns:RecipeIngredient" />
  <xs:complexType name="ArrayOfAccount">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Account" nillable="true" type="tns:Account" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAccount" nillable="true" type="tns:ArrayOfAccount" />
</xs:schema>